<%- include('header') -%>

<main>
    <section class="colored" id="home">
        <div class="container-fluid">
                <h1 class="section-heading">GiftedBrainTech The Way Forward</h1>
            <div class="row">
                    
                <div class="col-lg-12">
                    
                    <div class="section-content">
                        <p>
                            GiftedBrain Technology is one of the best software development and training company in Nigeria.
                            In GiftedBrainTech, we believe in customers satisfaction, we use cutting-edge technologies To
                            develop and deploy softwares that are robust and efficient at an affordable price.
                        </p>

                    </div>

                </div>

            </div>
        </div>

    </section>
    <section id="about-us">

    </section>
    <section class="not-colored" id="what-we-do">
        <div class="container-fluid">
                <h1 class="section-heading"> WHAT WE DO</h1>
            <div class="row">
                
                <div class="col-lg-6">
                        <div><h1 class="section-heading"> Our Services</h1></div>
                    <ul>
                        <div>
                            <li> <i class="icon far fa-check-circle"></i>We develop Web Apps</li>
                        </div>
                        <div>
                            <li> <i class="icon far fa-check-circle"></i>We develop Mobile Apps</li>
                        </div>
                        <div>
                           <li>  <i class="icon far fa-check-circle"></i>We Install and Configure Network Infrastructures</li>
                        </div>
                        <div>
                          <li>  <i class="icon far fa-check-circle"></i>We help final year students of Computer Science develop their softwares</li>
                        </div>
                        <div>
                            <li>  <i class="icon far fa-check-circle"></i>We offer offer world Class software Engineering and development training</li>
                        </div>

                    </ul>

                </div>
                <div class="col-lg-6">
                        <h1 class="section-heading">Technologies we use</h1>
                       
                            <div >
                                <i class="fab fa-html5 fa-3x"></i>
                                <i class="fab fa-css3-alt fa-3x"></i>
                                <i class="fab fa-js-square fa-3x"></i>
                                <i class="fab fa-bootstrap fa-3x"></i>

                            </div>
                            <div >
                                <i class="fab fa-react fa-3x"></i>
                                <i class="fab fa-reacteurope fa-3x"></i>
                                <i class="fab fa-php fa-3x"></i>
                                <i class="fab fa-node fa-3x"></i>

                            </div>
                          
                            
                </div>

                

            </div>
        </div>

    </section>

    <section class="colored" id="portfolio" >
        <div class="container-fluid">
            <h1 class="section-heading">Our Portfolio</h1>
            <div class="row">
                <h1 class="section-heading"></h1>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h6>Nigeria E-voting system</h6>
                           

                        </div>
                        <div class="card-body">
                                <img src="img/voting.jpg" width="100%" height="100%">

                        </div>
                        <div class="card-footer">
                            <a href="http://edward-online-voting.com.ng" target="_blank">Visit</a>

                        </div>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="card">
                            <div class="card-header">
                                    <h6>GiftedBrainTech</h6>

                            </div>
                            <div class="card-body">
                                    <img src="img/giftedbraintech.jpg" width="100%" height="100%">

                            </div>
                            <div class="card-footer">
                                <a href="#">Visit</a>

                            </div>
                        </div>
                        

                </div>
                <div class="col-lg-4">
                        <div class="card">
                                <div class="card-header">
                                <h6>Uyo LGA site</h6>
        
                                </div>
                                <div class="card-body">
                                        <img src="img/uyo.jpg" width="100%" height="100%">
        
                                </div>
                                <div class="card-footer">
                                    <a href="#">Still under development</a>
        
                                </div>
                            </div>

               </div>

            </div>

        </div>

    </section>
    <section class="not-colored" id="partners">
        <h1 class="section-heading">Our Partners</h1>
        <div class="container-fluid">
            <div>
                <i class="fab fa-acquisitions-incorporated fa-5x"></i>
                <i class="fab fa-neos fa-5x"></i>
                <i class="fab fa-affiliatetheme fa-5x"></i>
                <i class="fab fa-btc fa-5x"></i>
                <i class="fab fa-buffer fa-5x"></i>
                <i class="fab fa-angrycreative fa-5x"></i>
            </div>
        </div>

    </section>
    <section id="testimonials">
        <div class="container-fluid">
            <h1 class="section-heading">Testimonials</h1>
                <div class="bd-example">
                        <div id="testimonies" class="carousel slide" data-ride="carousel">
                          <ol class="carousel-indicators">
                            <li data-target="#testimonies" data-slide-to="0" class="active"></li>
                            <li data-target="#testimonies" data-slide-to="1"></li>
                            <li data-target="#testimonies" data-slide-to="2"></li>
                          </ol>
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                                
                                    <h2>I got the exact design that I love at giftedbraintech, The developers at giftedbraintech are awesome and there are good in what they do</h2>
                                    <!-- <img class="testimonial-img car-img" src="images/dog-img.jpg" alt="dog-profile"> -->
                                    <em>Uche-Nwachi Edward. O, </em>
                             
                            </div>
                            <div class="carousel-item">
                                <h2>live update as development goes on is one of the many good approaches of giftedbraintech i love so much, you don't have wait for the total development before you begin to feel you work.</h2>
                                <!-- <img class="testimonial-img car-img" src="images/dog-img.jpg" alt="dog-profile"> -->
                                <em>Uyo LGA</em>
                            </div>
                            <div class="carousel-item">
                                <h2 class="testimonial-text">The training I got from giftedbraintech can be compared strongly with any other well to do software training institue in any part of the world.</h2>
                  <!-- <img class="testimonial-image car-img " src="images/lady-img.jpg" alt="lady-profile"> -->
                  <em>okorie,chinedu</em>
                            </div>
                          </div>
                          <a class="carousel-control-prev" href="#testimonies" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#testimonies" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                      </div>
           
        </div>

    </section>
    <section class="not-colored" id="contact">
        <div class="container-fluid">
            <h1 class="section-heading">Get In Touch</h1>
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <h1>Address</h1>
                        <div class="col-lg-12">
                            <p> <i class="fas fa-map-marker-alt fa-2x"></i>N0 164 Isawo Road Abule Agbon Agric Ikorodu Lagos State Nigeria</p>

                        </div>
                        
                    </div>
                    <div class="row">
                        <h1>Mail</h1>
                            <div class="col-lg-12">
                                <p><i class="fas fa-envelope-square fa-2x"></i>info@giftedbraintech.com</p>
    
                            </div>
                            
                    </div>
                    <div class="row">
                        <h1>Socials</h1>
                            <div class="col-lg-12">
                                <div>
                                    <a href="#"><i class="fab fa-facebook fa-2x"></i></a> 
                                     <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                                     <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                                     <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
                                </div>
    
                            </div>
                            
                    </div>

                </div>
                <div class="col-lg-6">
                    <div>
                        <form action="#" method="POST">
                                <div class="form-group">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Fullname</label>
                                            <input type="text" name="fullname" class="form-control">
                                        </div>
                                </div>
                                <div class="form-group">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Email</label>
                                            <input type="email" name="email" class="form-control">
                                        </div>
                                 </div>
                                 <div class="form-group">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Phone</label>
                                            <input type="tel" name="phone" class="form-control">
                                        </div>
                                </div>
                                <div class="form-group">
                                
                                        <div class="form-group label-floating">
                                                <label class="control-label">Message</label>
                                            
                                          <textarea rows="3" class="form-control"></textarea>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <div class="form-group label-floating">
                                           <button class="btn btn-lg btn-block btn-primary">Send Message</button>
                                        </div>
                                </div>


                        </form>
                    </div>

                 </div>
            </div>

        </div>

    </section>
</main>

<%- include('footer') -%>
